*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(Img/fondoLogin.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

form {
    max-width: 400px;
    height: 500px;
    margin: 100px auto;
    background-color: rgba(255, 255, 255, 0.40);
    padding: 20px;
    border: 29px;
    border-radius: 10px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.6);
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #1486B2;
    color: #FFF;
    border: none;
    font-weight: bold;
    
}

img {
    margin: 40px 150px;
}

form a {
    display: block;
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
    color:#000;
}

::placeholder{
    font-weight: bold;
    font-style:italic; 
}